@import url('http://fonts.cdnfonts.com/css/valorant');
.mail{
    overflow: hidden;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;

}
.setBtn {
   
    font-weight: bold;
   
   
  
    /* -webkit-box-shadow: 12px 15px 16px -2px rgb(155, 54, 238);
    -moz-box-shadow: 12px 15px 16px -2px rgba(207, 230, 34, 1);
    box-shadow: 12px 15px 16px -2px rgba(207, 230, 34, 1); */
}

.setBtn2{
    
   
    margin-top: 60px;
    margin-left: 75px;
    color: rgb(9, 9, 9);
    font-weight: bold;
    border-radius: 50px;
    height: 50px !important;
    width: 200px !important;
    background-color: #BDB571;
    border: none;
    -webkit-box-shadow: 12px 15px 16px -2px rgba(207, 230, 34, 1);
    -moz-box-shadow: 12px 15px 16px -2px rgba(207, 230, 34, 1);
    box-shadow: 12px 15px 16px -2px rgba(207, 230, 34, 1);
}

.text-inbox{
    font-family: 'Cairo', sans-serif;;
    font-style: normal;
    font-weight: 120;
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    text-align: center;
}

.message{
    margin: 0px 0px;
    padding: 10px;
}

.sentbtn {
    width: 100%;
    background: linear-gradient(180deg, #6D09BB 0%, #680953 100%);
    border-radius: 5px;
    text-align: center;
    padding: 10px 20px;
    font-family: 'Cairo', sans-serif;;
    font-style: normal;
    font-weight: 120;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    border: none;
    margin-left: 5px;
}

.msg-box{
    
    height: 100vh;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.message{
    background: rgb(218, 218, 247);
}
.modal-btn-left, .modal-btn-right{
    background: linear-gradient(180deg, #6D09BB 0%, #680953 100%);
    border-radius: 5px;
    padding: 10px 20px;
    font-family: 'Cairo', sans-serif;;
    font-style: normal;
    font-weight: 120;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    border: none;
}

.mail-topic{
    background: rgb(225, 231, 241);
    border-radius: 10px;
}


.modal-desi-main{
    background: #e6b2f3;
}

.modal-desi{
    background: url("https://assets.weforum.org/article/image/fOGcm1n0fUqbm1sxtUlYHErN-A5ad8JQ3-Zv43ic3k0.png");
    background-size: cover;
}

.sidebar{
   
    margin-left: 0px;
}




.text-head {
  color: white;
  
  font-family: 'VALORANT', sans-serif;
   font-size: 2.5rem;
    font-weight: bold;
  
   /* mix-blend-mode: overlay;
    padding: 1rem;
     border-radius: 10px;
     text-align:center;
     -webkit-box-shadow: 10px 10px 5px -3px rgba(71, 32, 179, 1);
     -moz-box-shadow: 10px 10px 5px -3px rgba(71, 32, 179, 1);
     box-shadow: 10px 10px 5px -3px rgba(71, 32, 179, 1); */
    
  
}

.mail-title{
    font-family: 'VALORANT', sans-serif;
    color: rgb(31, 39, 116);
    font-size: 2rem;
    margin: auto;
    margin-left: 35%;
}

.backy {
    
    background: rgba(12, 0, 17, 0.872) !important;
   
   
   
}




.loading{
    height: 100vh;
    width: 100vw;
    display:flex;
    align-items:center;
    justify-content: center;
    background-color:rgb(0 2 18 / 98%);
}
.mailaccount{
    position:fixed;
    top:2%;
    right:1%;
    padding: 0.5rem;
    font-size: 1.2rem;
   background-color: #6D09BB;
    color: white;
    text-align: center;
    padding-top:  6px ;
    padding-bottom:  6px;
    border-radius: 8px;
    z-index: 1;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}
.spambtn{
    border:none;
    margin-left: auto;
}
.sentbtn-close{
    background: linear-gradient(180deg, #6D09BB 0%, #680953 100%);
    border-radius: 5px;
  
  
    width:100vw;
}
.exmodal{
  border:none !important;
  background: linear-gradient(180deg, #6D09BB 0%, #680953 100%) !important;
  color:white;
  display:flex;
  margin-left: auto;


}

.text_right{
    text-align: right!important;
    margin-left:auto!important
}

.download_btn{
    width:3rem;
    height: 3rem;
    margin:0rem 0.5rem 0.5rem auto; 
    padding: 0.8rem;
    transition: none!important;

}
.download_btn :hover{
   
    animation: none!important;
}

#staticEmail{
    padding: 6px 6px!important;
}