@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600;800&family=Inconsolata&family=Montserrat:wght@100&family=Poppins:wght@200&display=swap');
body {
  margin: 0;
  overflow: hidden;
  font-family: 'Cairo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
